<!DOCTYPE html>
<html>
  <head>
    <title>HookStore</title>
    <% include meta %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/tomorrow.min.css">
    <style>
      /*body { padding-top: 50px; }*/
			/*html { margin-top: 80px }*/
			nav { margin-bottom: 20px }
      /*img { width: 140px; height: 140px; }*/
			/* img { width: 140px; height: 140px; } */
			.img-circle { border-radius: 50%; }
			.bg-appnav { background-color: #F9F9F9; color: #999999; }
      .btn-pink {
        color: #fff;
        background-color: #D257A1;
        border-color: #D257A1;
      }
      /*.fa-sign-out, .fa-user-circle-o { float: right; }*/
    </style>
  </head>
