<nav class="navbar navbar-fixed-top bg-appnav justify-content-between">
  <a class="navbar-brand" href="/">
		<img src="/hookstore-icon.png" width="30" height="30" class="d-inline-block align-top mr-1" alt=""><span class="font-weight-bold text-muted">Hook</span>Store
  </a>
</nav>
